.skills{
    background-color: #3d3d3d;
}
.progress {
    border: 1px solid #B0B0B0;
    width: 20em;
    border-radius: 4px;
    box-shadow: 0 0 3px #B0B0;
    backdrop-filter: blur(2px) brightness(101%);
 }
 
 .bar {
    width: 20em;
    height: 30px;
    background: #e0dcdb;
    box-shadow: inset 0px 12px 1.7px #FFFFFF33;
    border-radius: 3px;
    color: white;
    text-align: center;
 }
 .spa{
    background-color: #96938b;
 }
 