.head{

    /* background-image: url("cover1.png"); */
    background-image: url("cover.avif");
    /* background-repeat: no-repeat; */
    background-color: black;
    text-align: left;
    background-size: auto;
    

}